In [1]:
# Python is an object-oriented language. The most common object types: strings, integers, and floats.

In [2]:
# Integer
39

39

In [3]:
# Float
4.192

4.192

In [4]:
# String
"Hello"

'Hello'

In [5]:
# Tell the type of expression
type("January")

str

In [7]:
# Cast 8.9 to float 
int(8.9) # loss of decimal information

8

In [8]:
# Boolean values: True and False
type(True)

bool

In [9]:
# True - 1, False - 0
int(True)

1

In [15]:
# Basic ariphmetic operations
(4 + 3) * (5 - 2)

21

In [14]:
# Round down the result
23 // 7

3

In [16]:
# Variables
x = 34
y = x / 2
print(y)

17.0

In [19]:
# String can have different characters. We can also assign a string to a variable
my_string = 'a10@#b67=_c92#]&*d38^%e5$'
print(my_string)

a10@#b67=_c92#]&*d38^%e5$

In [20]:
# Access index 3 which is the 4th element
my_string[3]

'@'

In [21]:
# Slicing
my_string[6:8]

'67'

In [22]:
# Access the third element in the index range from 0 to 8
my_string[0:9:3]

'a@6'

In [28]:
# Concatenate strings
holiday = 'Christmas'
concatenated = 'There is something magical about ' + holiday
concatenated

'There is something magical about Christmas'

In [30]:
# There are many string operation methods in Python. For example, replace()
a = 'Apple is my favorite fruit'
p = a.replace('Apple','Pineapple')
p

'Pineapple is my favorite fruit'